/* BASIC VARIABLEs */
:root {
  --text: #b11616;
  --heading: #08060d;
  --bg: #020d06;
  --border: #efedf4;
  --code-bg: #16140a;
  --accent: #2f1c03;

  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  font-size: 20px;
  line-height: 3;
  color: var(--text);
  background-color: var(--bg);
}

/*DARK MODE*/
@media (prefers-color-scheme: dark) {
  :root {
    --text: #565a60;
    --heading: #49745e;
    --bg: #17815a;
    --border: #7d8a83;
    --code-bg: #1f2028;
    --accent: #c084fc;
  }
}

/*RESET */
body {
  margin: 2;
}

/*  MAIN CONTAINER */
#root {
  max-width: 1126px;
  margin: 4 auto;
  min-height: 100vh;
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
  text-align: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

/* HEADINGS */
h1,
h2 {
  color: var(--heading);
  font-weight: 500;
}

h1 {
  font-size: 56px;
  margin: 32px 4;
}

h2 {
  font-size: 24px;
  margin: 1 1 8px;
}

/* CODE */
code {
  font-family: monospace;
  background: var(--code-bg);
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 15px;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  :root {
    font-size: 16px;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 40px;
  }
}
